html, body {
    height: 100%;
}

body {
    background: #f2f2f2;
    color: #212121;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 81.25%;
    margin: 0;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 0 64px;
    color: #fff;
    background-color: rgb(66, 133, 244);
}

.mainTodoWrapper {
    flex: 1 0 auto;
    display: flex;
}

.taskWrapper {
    flex: 0 0 216px;
    margin: 10px 50px 10px 10px;
    padding: 21px 8px 19px 8px;
    height: auto !important;
    width: auto !important;
    position: inherit !important;
    overflow: inherit !important;
}

.drawerWrapper {
    display: flex;
}

.taskInputWrapper {
    display: flex;
    margin-bottom: 20px;
}

.taskInputButtonField {
    margin: 12px;
}

.todoWrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin: 10px 104px 10px 30px;
    padding: 20px 20px;
    background-color: #985454;
}

.todoWrapper > h2 {
    font-size: 35px;
    margin: 16px 0 10px 0;
    font-family: Times New Roman;
    color: #999;
}

.todoWrapper > h3 {
    display: flex;
    flex-direction: column;
    margin: 10px 44px 29px 90px;
    padding: 5px 10px 5px 0;
    color: #777;
    font-weight: bold;
}

.todoWrapper > h3 > span {
    padding-bottom: 5px;
    border-bottom: 4px solid #b9ecb5;
}

.todoWrapper > h3 > div {
    width: 14%;
    bottom: -8px;
    height: 8px;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #b9ecb5;
}

.todoTitle > div {
    align-self: flex-start;
}

.doneTitle > div {
    align-self: flex-end;
}

.todoListPanel, .doneListPanel {
    margin: 10px 44px 29px 30px;
    padding: 5px 10px 5px 0px;
}

.textFieldWrapper {
    margin: 10px 50px 30px 90px;
}

.todoItemWrapper {
    display: flex;
    font-family: Abel,"Lucida Sans Unicode","Lucida Grande",Tahoma,Garuda,Verdana,sans-serif;
    line-height: 20px;
    font-size: 20px;
    color: #333;
    margin: 5px 0px 10px 40px;
}

.checkboxContainer {
    flex: 0 0 30px;
    position: relative;
    display: flex;
    align-self: flex-end;
}

.checkboxContainer > input {
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.checkboxContainer > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #fd8845;
}

.checkboxContainer > input:checked+div:after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: 9px;
  width: 10px;
  height: 4px;
  border: 2px solid #fd8845;
  border-top-color: transparent;
  border-right-color: transparent;
  -ms-transform: rotate(-60deg); 
  -moz-transform: rotate(-60deg);  
  transform: rotate(-45deg);
}