<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1">
  <title>TodoList</title>
</head>
<body>
<article id="app-todolist" style="height: inherit;"></article>
<%= javascript_include_tag 'app-todolist' %>
</body>
</html>